@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import '_fonts.scss';
@import '_colors.scss';

body{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   @include regular;
   color: $text-clr;
}

.container{
   width: 90%;
   margin-inline: auto;
}

ul{
   margin: 0; 
   padding: 0;
}